.table-page {
  background-color: white;
  font-size: 12px;
  overflow-x: auto;

  .container {
    padding: 30px 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
  }

  .table-vacunas {
    width: 100%;

    tr:nth-child(odd) {
      background-color: #fafafa;
    }

    &-column-header {
      border-bottom: solid 3px red;
      background: aliceblue;
      color: black;
      font-weight: 'bold';
    }
  }
}

@media (min-width: 1080px) {
  .table-page {
    font-size: 16px;
    .container {
      padding: 50px;
    }
  }
}
