.header {
  width: 100%;
  background-color: #7B0D1E;
  color: white;
  font-size: 20px;

  &-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }

  &-title {
    span {
      display: inline-block;
      padding: 10px 15px;
    }
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;

    &-item {
      padding: 10px 15px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #3D1308;
      }
    }
  }
}


@media (min-width: 1080px) {
  .header {
    font-size: 30px;

    &-title {
      span {
        padding: 10px 35px;
      }
    }

    &-menu {
      &-item {
        padding: 10px 35px;
      }
    }
  }
}
