.graphs-page {
  background-color: white;

  .container {
    padding: 50px 20px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 50px;
  }

  .graph-item {
    padding: 15px;
    height: 400px;
    min-width: 100%;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 0px 9px 0px rgba(184,184,184,1);
    box-shadow: 0px 0px 9px 0px rgba(184,184,184,1);
  }

  .graph-title {
    text-align: center;
  }
  .graph-body {
      height: calc(100% - 70px);
  }
}


@media (min-width: 1080px) {
  .graphs-page {
    .container {
      grid-template-columns: 1fr 1fr;
      padding: 50px;
    }
  }
}
